<div>


    
        <div> <%= promo.name %> </div>
        <div> <%= promo.id %> </div>
        <a href=" <%= promo.github_organization %>" > Lien github </a> <br>
        <a href ="<%= promo.id %>/students">Liste des étudiants de la promo</a>
       
        

</div>