

<div>

            <h1>promo : <% studentPromo %></h1>
            <div> <%= studentId %> </div>
            <div> <%= studentFirstName %> </div>
            <div> <%= studentLastName %> </div>
            <div> <%= studentGitHubUserName %> </div>
            <img src=" <% studentPicture %>" alt="Student's picture">
            
    
</div>